/test
./Node-1/data/caches
./Node-1/data/database
./Node-1/data/uploads
/Node-2/data/caches
/Node-2/data/database
/Node-2/data/uploads
/Node-3/data/caches
/Node-3/data/database
/Node-3/data/uploads
/Node-4/data/caches
/Node-4/data/database
/Node-4/data/uploads